.header {
	position: sticky;
	top: 0;
	z-index: 100;
	background: $color-white;

	&__decoration-line {
		position: absolute;
		top: 85px;
		width: 100%;
		height: 1px;
		background-color: rgba(85, 166, 48, 0.5);
	}

	&__grid {
		display: grid;
		grid-template-columns: auto min-content min-content min-content;
		grid-template-rows: 85px 69px;
		width: 100%;
	}

	&__toggle {
		display: none;
	}

	&__toggle-button {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		border: none;
		background: transparent;
		gap: 12px;
	}

	&__logo {
		display: flex;
		align-items: center;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	&__phone {
		display: flex;
		align-items: center;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	&__phone-number {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 25px;
		white-space: nowrap;
		color: $color-black;
	}

	&__phone-icon {
		margin-right: 22px;
	}

	&__social-networks {
		display: flex;
		align-items: center;
		justify-self: center;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	&__social-networks-list {
		display: flex;
	}

	&__social-networks-item {
		display: flex;
		align-items: center;
	}

	&__language {
		display: flex;
		align-items: center;
		justify-self: flex-end;
		grid-column: 4 / 5;
		grid-row: 1 / 2;
	}

	&__language-button {
		display: flex;
		align-items: center;
		border: none;
		background: transparent;
	}

	&__country-icon {
		margin-right: 14px;
		width: 42px;
		height: 42px;
		background: url("../images/russia-icon.svg");
	}

	&__navigation {
		display: flex;
		align-items: center;
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}

	&__navigation-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__navigation-link {
		font-weight: 500;
		font-size: 16px;
		color: $color-black;
	}

	&__social-networks-item + &__social-networks-item {
		margin-left: 26px;
	}
}

.toggle-button-line {
	display: block;
	width: 50px;
	height: 5px;
	background-color: $color-green;
}

.center-line {
	width: 38px;
}

// Стили для хедера при открытом меню
.header__menu {
	&--opened .site::after {
		content: "";
		position: absolute;
		z-index: 90;
		width: 100%;
		height: 100%;
		background-color: $color-black;
		opacity: 55%;
	}

	&--opened .header__grid {
		position: absolute;
		left: 0;
		top: 0;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto auto auto;
		padding: 30px;
		padding-bottom: 120px;
		width: fit-content;
		background: $color-white;
		gap: 40px 60px;
	}

	&--opened .header__navigation-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
	}

	&--opened .header__toggle {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	&--opened .header__toggle-button .up-line {
		transform: rotate(45deg) translateX(10px) translateY(14px);
	}

	&--opened .header__toggle-button .center-line {
		width: 0;
	}

	&--opened .header__toggle-button .down-line {
		transform: rotate(-45deg) translateX(10px) translateY(-14px);
	}

	&--opened .header__logo {
		display: none;
	}

	&--opened .header__phone {
		display: flex;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	&--opened .header__language {
		display: flex;
		justify-self: flex-start;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	&--opened .header__navigation {
		display: flex;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	&--opened .header__social-networks {
		display: flex;
		justify-self: flex-start;
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}
}

@media (hover: hover) and (pointer: fine) {
	.header {
		&__navigation-link:hover {
			color: $color-green;
		}

		&__navigation-link:active {
			opacity: 0.3;
		}

		&__social-networks-link:hover {
			opacity: 0.7;
		}

		&__social-networks-link:active {
			opacity: 0.3;
		}
	}
}

@media (max-width: $desktop-width) {
	.header {
		&__decoration-line {
			display: none;
		}

		&__grid {
			align-items: center;
			justify-content: space-between;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto;
			min-height: 94px;
		}

		&__toggle {
			display: flex;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}

		&__logo {
			position: fixed;
			left: 50%;
			top: 10px;
			margin: 0 auto;
			transform: translateX(-50%);
		}

		&__logo svg {
			width: 74px;
			height: 74px;
		}

		&__phone {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
		}

		&__social-networks,
		&__language,
		&__navigation {
			display: none;
		}
	}
}

@media (max-width: $smartphone-width) {
	.header {
		&__grid {
			min-height: 60px;
		}

		&__logo svg {
			width: auto;
			max-height: 46px;
		}

		&__toggle-button {
			gap: 6px;
		}

		&__phone-number {
			font-size: 14px;
		}

		&__phone-icon {
			margin-right: 9px;
			width: auto;
			height: 14px;
		}
	}

	.toggle-button-line {
		display: block;
		width: 30px;
		height: 3px;
		background-color: $color-green;
	}

	.center-line {
		width: 18px;
	}

	.header__menu {
		&--opened .header__toggle-button .up-line {
			transform: rotate(45deg) translateX(0) translateY(14px);
		}

		&--opened .header__toggle-button .down-line {
			transform: rotate(-45deg) translateX(0) translateY(-14px);
		}
	}
}

@media (max-width: $small-screen-width) {
	.header {
		&__grid {
			grid-template-columns: auto auto;
		}

		&__logo {
			position: static;
			grid-column: 2 / 3;
			margin: auto;
			transform: translateX(0);
		}

		&__phone {
			display: none;
		}
	}
}
