.training {
	padding: 90px 0;

	&__title {
		margin-bottom: 70px;
	}

	&__grid {
		display: grid;
		gap: 50px;
	}

	&__grid-row {
		display: grid;
		justify-content: space-between;
		grid-auto-rows: minmax(260px, auto);
		gap: 50px;
	}

	&__grid-row--1 {
		grid-template-columns: 1fr 1fr;

		.training__link-content {
			display: flex;
		}

		.training__link-name {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			height: fit-content;
		}

		.training__link-arrow-icon {
			z-index: $layer-2;
			align-self: flex-end;
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			width: 0;
			fill: $color-white;
		}

		.training__link-list {
			z-index: $layer-2;
			align-self: flex-end;
			grid-column: 1 / 3;
			grid-row: 2 / 3;
			width: 0;
			height: 0;
			font-size: 0;
			line-height: 21px;
			color: $color-white;
			transition: height ease $duration-normal;

			li {
				list-style-type: "- ";
			}
		}
	}

	&__grid-row--2 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&__link {
		position: relative;
		z-index: $layer-1;
		background-position: center;
		background-size: 120%;
		background-repeat: no-repeat;
		transition: background-size 1s ease;
	}

	&__link-content {
		display: flex;
		flex-direction: column-reverse;
		overflow: hidden;
		padding: 24px;
		width: auto;
		height: 100%;
	}

	&__grid-row--2 .training__link:nth-child(even) .training__link-content {
		flex-direction: column;
	}

	&__link::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #232323;
		opacity: 0.3;
	}

	&__link-name {
		z-index: $layer-2;
		font-weight: 500;
		font-size: 32px;
		text-transform: uppercase;
		color: $color-white;
	}
}

.training__cosmetology-courses {
	background-image: url("../images/background-photos/training-link-backgrounds/cosmetology-courses.jpg");
}

.training__online-training {
	background-image: url("../images/background-photos/training-link-backgrounds/online-training.jpg");
}

.training__master-class {
	background-image: url("../images/background-photos/training-link-backgrounds/master-class.jpg");
}

.training__schedule {
	background-image: url("../images/background-photos/training-link-backgrounds/schedule.jpg");
}

.training__stocks {
	background-image: url("../images/background-photos/training-link-backgrounds/stocks.jpg");
}

@media (hover: hover) and (pointer: fine) {
	.training__link:hover {
		background-size: 150%;
	}

	.training__grid-row--1 {
		.training__link:hover .training__link-list {
			width: auto;
			height: auto;
			font-size: 18px;
		}

		.training__link:hover .training__link-content {
			display: grid;
			justify-content: space-between;
			grid-template-columns: auto 90px;
			grid-template-rows: max-content auto;
		}

		.training__link:hover .training__link-arrow-icon {
			width: auto;
		}
	}
}

@media (max-width: $tablet-width) {
	.training {
		background-image: url("../images/background-photos/course-background.png");
		background-position: bottom left;
		background-size: contain;
		background-repeat: no-repeat;
		transform: scale(-1, 1);

		.container {
			transform: scale(-1, 1);
		}

		&__title {
			font-size: 30px;
		}

		&__grid {
			gap: 28px;
		}

		&__grid-row {
			grid-auto-rows: minmax(200px, auto);
			gap: 28px;
		}

		&__link {
			background-size: cover;
		}

		&__link-name {
			font-size: 25px;
		}
	}

	@supports (background: url("../images/background-photos/course-background-1.webp")) {
		.training {
			background-image: url("../images/background-photos/course-background-1.webp");
		}
	}
}

@media (max-width: $smartphone-width) {
	.training {
		padding: 70px 0;

		&__title {
			margin-bottom: 50px;
			font-size: 25px;
		}

		&__grid {
			gap: 20px;
		}

		&__grid-row {
			grid-auto-rows: minmax(148px, auto);
			gap: 20px;
		}

		&__grid-row--1 {
			grid-template-columns: 1fr;
		}

		&__grid-row--2 {
			grid-template-columns: 1fr 1fr;
		}

		&__link-content {
			flex-direction: column-reverse;
		}

		&__grid-row--2 .training__link:nth-child(even) .training__link-content {
			flex-direction: column-reverse;
		}

		&__grid-row--2 .training__link:nth-child(3) {
			grid-column: 1 / 3;
		}

		&__link-name {
			font-size: 20px;
		}
	}
}

@media (max-width: $small-screen-width) {
	.training {
		&__title {
			margin-bottom: 40px;
			font-size: 20px;
		}

		&__link-name {
			font-size: 14px;
		}
	}
}

@supports (background-image: url("../images/background-photos/training-link-backgrounds/cosmetology-courses.webp")) {
	.training__cosmetology-courses {
		background-image: url("../images/background-photos/training-link-backgrounds/cosmetology-courses.webp");
	}
}

@supports (background-image: url("../images/background-photos/training-link-backgrounds/online-training.webp")) {
	.training__online-training {
		background-image: url("../images/background-photos/training-link-backgrounds/online-training.webp");
	}
}

@supports (background-image: url("../images/background-photos/training-link-backgrounds/master-class.webp")) {
	.training__master-class {
		background-image: url("../images/background-photos/training-link-backgrounds/master-class.webp");
	}
}

@supports (background-image: url("../images/background-photos/training-link-backgrounds/schedule.webp")) {
	.training__schedule {
		background-image: url("../images/background-photos/training-link-backgrounds/schedule.webp");
	}
}

@supports (background-image: url("../images/background-photos/training-link-backgrounds/stocks.webp")) {
	.training__stocks {
		background-image: url("../images/background-photos/training-link-backgrounds/stocks.webp");
	}
}
