section.course
	.course__numbers.container
		.course__numbers-grid
			ul.course__numbers-list
				li.course__numbers-item
					<span>4000+</span>
					p Сертификатов мы выдали
				li.course__numbers-item
					<span>3500+</span>
					p Моделей в нашей базе
				li.course__numbers-item
					<span>1500+</span>
					p Специалистов мы обучили
				li.course__numbers-item
					<span>5500+</span>
					p Довольных клиентов
	.course__slider
		.container
			h2.course__slider-title.section-title Курсы обучения
		.swiper.course__slider-container
			.swiper-wrapper

				.swiper-slide.slider-card.course-offline
					.slider-card__content
						.slider-card__head
							p.slider-card__type Курс для медиков
							<svg class="slider-card__logo" width="44" height="31" viewBox="0 0 44 31" xmlns="http://www.w3.org/2000/svg"><path d="M10.5769 5.22892L0 2.24096L10.5769 2.98795L16.5 1.49398L22.4231 5.9759L27.0769 3.36145L32.1538 3.73494L41.0385 0L39.7692 3.73494H44L27.9231 13.8193L28.7692 19.4217L34.6923 26.8916L29.6154 25.0241L31.3077 31L16.0769 9.71084V7.46988L10.5769 5.22892Z"/></svg>
							h3.slider-card__title Канюльные техники
						span.slider-card__format Оффлайн
						span.slider-card__date 1 - 4 мая
						.slider-card__info
							p.slider-card__description Краткое описание Что-то о курсе Пару фактов Краткое описание
							.slider-card__image
						span.slider-card__available-seats Свободно 2 из 15 мест
					.slider-card__buttons-block
						button.slider-card__button.button-register Зарегистрироваться
						button.slider-card__button.button-more-info.slider-card__button--background-light Подробнее

				.swiper-slide.slider-card.course-online
					.slider-card__content
						.slider-card__head
							p.slider-card__type Курс для медиков
							<svg class="slider-card__logo" width="44" height="31" viewBox="0 0 44 31" xmlns="http://www.w3.org/2000/svg"><path d="M10.5769 5.22892L0 2.24096L10.5769 2.98795L16.5 1.49398L22.4231 5.9759L27.0769 3.36145L32.1538 3.73494L41.0385 0L39.7692 3.73494H44L27.9231 13.8193L28.7692 19.4217L34.6923 26.8916L29.6154 25.0241L31.3077 31L16.0769 9.71084V7.46988L10.5769 5.22892Z"/></svg>
							h3.slider-card__title Мезотерапия и биоревителизация
						span.slider-card__format Онлайн
						span.slider-card__date 15 - 20 мая
						.slider-card__info
							p.slider-card__description Краткое описание Что-то о курсе Пару фактов Краткое описание
							.slider-card__image
						span.slider-card__available-seats Свободно 2 из 15 мест
					.slider-card__buttons-block
						button.slider-card__button.button-register Зарегистрироваться
						button.slider-card__button.button-more-info.slider-card__button--background-light Подробнее

				.swiper-slide.slider-card.master-class
					.slider-card__content
						.slider-card__head
							p.slider-card__type Курс для медиков
							<svg class="slider-card__logo" width="44" height="31" viewBox="0 0 44 31" xmlns="http://www.w3.org/2000/svg"><path d="M10.5769 5.22892L0 2.24096L10.5769 2.98795L16.5 1.49398L22.4231 5.9759L27.0769 3.36145L32.1538 3.73494L41.0385 0L39.7692 3.73494H44L27.9231 13.8193L28.7692 19.4217L34.6923 26.8916L29.6154 25.0241L31.3077 31L16.0769 9.71084V7.46988L10.5769 5.22892Z"/></svg>
							h3.slider-card__title Биогель - новое в косметологии
						span.slider-card__format Мастер-класс
						span.slider-card__date 1 - 5 август
						.slider-card__info
							p.slider-card__description Краткое описание Что-то о курсе Пару фактов Краткое описание
							.slider-card__image
						span.slider-card__available-seats Свободно 2 из 15 мест
					.slider-card__buttons-block
						button.slider-card__button.button-register Зарегистрироваться
						button.slider-card__button.button-more-info.slider-card__button--background-light Подробнее

				.swiper-slide.slider-card.course-offline
					.slider-card__content
						.slider-card__head
							p.slider-card__type Курс для медиков
							<svg class="slider-card__logo" width="44" height="31" viewBox="0 0 44 31" xmlns="http://www.w3.org/2000/svg"><path d="M10.5769 5.22892L0 2.24096L10.5769 2.98795L16.5 1.49398L22.4231 5.9759L27.0769 3.36145L32.1538 3.73494L41.0385 0L39.7692 3.73494H44L27.9231 13.8193L28.7692 19.4217L34.6923 26.8916L29.6154 25.0241L31.3077 31L16.0769 9.71084V7.46988L10.5769 5.22892Z"/></svg>
							h3.slider-card__title Канюльные техники
						span.slider-card__format Оффлайн
						span.slider-card__date 1 - 4 мая
						.slider-card__info
							p.slider-card__description Краткое описание Что-то о курсе Пару фактов Краткое описание
							.slider-card__image
						span.slider-card__available-seats Свободно 2 из 15 мест
					.slider-card__buttons-block
						button.slider-card__button.button-register Зарегистрироваться
						button.slider-card__button.button-more-info.slider-card__button--background-light Подробнее

				.swiper-slide.slider-card.course-online
					.slider-card__content
						.slider-card__head
							p.slider-card__type Курс для медиков
							<svg class="slider-card__logo" width="44" height="31" viewBox="0 0 44 31" xmlns="http://www.w3.org/2000/svg"><path d="M10.5769 5.22892L0 2.24096L10.5769 2.98795L16.5 1.49398L22.4231 5.9759L27.0769 3.36145L32.1538 3.73494L41.0385 0L39.7692 3.73494H44L27.9231 13.8193L28.7692 19.4217L34.6923 26.8916L29.6154 25.0241L31.3077 31L16.0769 9.71084V7.46988L10.5769 5.22892Z"/></svg>
							h3.slider-card__title Мезотерапияи биоревителизация
						span.slider-card__format Онлайн
						span.slider-card__date 15 - 20 мая
						.slider-card__info
							p.slider-card__description Краткое описание Что-то о курсе Пару фактов Краткое описание
							.slider-card__image
						span.slider-card__available-seats Свободно 2 из 15 мест
					.slider-card__buttons-block
						button.slider-card__button.button-register Зарегистрироваться
						button.slider-card__button.button-more-info.slider-card__button--background-light Подробнее

			.swiper-pagination.course__slider-pagination

			.swiper-button-prev.course__slider-button-select.course__slider-button-prev
			.swiper-button-next.course__slider-button-select.course__slider-button-next
