section.master-classes
	.container
		.master-classes__title.section-title Мастер-классы
		.master-classes__sub-title Мероприятия для повышения квалификации кометологов
		.master-classes__slider
			.swiper-wrapper
				.swiper-slide.master-classes__card
					.master-classes__card-grid
						.master-classes__card-img-block
							<picture>
								<source srcset="images/master-classes-cards-images/master-classes-laser-card-bg.avif" type="image/avif">
								<source srcset="images/master-classes-cards-images/master-classes-laser-card-bg.webp" type="image/webp">
								<source srcset="images/master-classes-cards-images/master-classes-laser-card-bg.jpg" type="image/jpg">
								<img loading="lazy" width="600" height="400" class="" src="images/master-classes-cards-images/master-classes-laser-card-bg.jpg" alt="Фото с мастер-класса">
							</picture>
						.master-classes__card-content-block
							.master-classes__card-info
								p.master-classes__card-date 3 ноября, 10:00-12:00
								p.master-classes__card-description 10 возможностей неодимового лазера, Лазерный пилинг, удаление тату/татуажа
								span.master-classes__card-author Тренер: Юлия Щукина
							.master-classes__card-price
								span 2000 ₽
							.master-classes__card-button
								a.button.button--fill-bg <svg width="26" height="16" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg"><path d="M25.7071 8.70711C26.0976 8.31658 26.0976 7.68342 25.7071 7.2929L19.3431 0.928934C18.9526 0.53841 18.3195 0.538409 17.9289 0.928934C17.5384 1.31946 17.5384 1.95262 17.9289 2.34315L23.5858 8L17.9289 13.6569C17.5384 14.0474 17.5384 14.6805 17.9289 15.0711C18.3195 15.4616 18.9526 15.4616 19.3431 15.0711L25.7071 8.70711ZM-8.35533e-08 9L25 9L25 7L8.35533e-08 7L-8.35533e-08 9Z"/></svg>
				.swiper-slide.master-classes__card
					.master-classes__card-grid
						.master-classes__card-img-block
						.master-classes__card-content-block
							.master-classes__card-info
								p Профессия косметолог, Семинар для новичков и профессионалов
							.master-classes__card-price
							.master-classes__card-button
				.swiper-slide.master-classes__card
					.master-classes__card-grid
						.master-classes__card-img-block
						.master-classes__card-content-block
							.master-classes__card-info
								p третий мастер класс
							.master-classes__card-price
								span 2000 ₽
							.master-classes__card-button

			.swiper-pagination.master-classes__pagination

			.swiper-button-prev.master-classes__slider-button-select.master-classes__slider-button-prev
			.swiper-button-next.master-classes__slider-button-select.master-classes__slider-button-next
