section.models
	.container
		.models__grid
			.models__info-block
				h2.models__title.section-title Ведем нобор моделей
				p.models__text Мы предлагаем свои услуги для моделей.
				p.models__text Выберите процедуру или несколько процедур и наш менеджер проконсультирует вас и назовёт ближайшую дату, когда вы сможете получить процедуру.
				button.models__button.button.button--fill-bg Стать моделью
			.models__photo-block
