section.number-block
	.container
		.number-block__grid
			ul.number-block__list
				li.number-block__item
					<span>4000+</span>
					p Сертификатов мы выдали
				li.number-block__item
					<span>3500+</span>
					p Моделей в нашей базе
				li.number-block__item
					<span>1500+</span>
					p Специалистов мы обучили
				li.number-block__item
					<span>5500+</span>
					p Довольных клиентов
