-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			navigation: [
				{
					url: '#',
					name: 'Курсы обучения'
				},
				{
					url: '#',
					name: 'Вебинары'
				},
				{
					url: '#',
					name: 'Видео-уроки'
				},
				{
					url: '#',
					name: 'Блог'
				},
				{
					url: '#',
					name: 'О нас'
				},
				{
					url: '#',
					name: 'Прайс'
				},
				{
					url: '#',
					name: 'Рассписание'
				},
				{
					url: '#',
					name: 'Акции'
				},
				{
					url: '#',
					name: 'Магазин'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
