extends pug/base

prepend vars
	title ValMari Учебный центр эстетической косметологии

append vars
	//-

block content
	include pug/data

	.site
		include pug/components/header

		include pug/pages/home

		include pug/components/footer

	//- include pug/components/analytics
